@import "../../scss/variables";
@import "../../scss/mixins";

.modalWindow {
  @include flex-column;

  position: absolute;
  left: 35%;
  top: 15%;
  padding: 25px;
  width: 413px;
  height: 540px;
  outline: 1px solid #000;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9fe;

  .titlesBlock {
    .title {
      margin-bottom: 32px;
      font-weight: 600;
      font-style: normal;
      font-size: 26px;
      line-height: 39px;
      letter-spacing: 0;
    }

    .subtitle {
      margin-bottom: 39px;
      font-weight: 600;
      font-style: normal;
      font-size: 22px;
      line-height: 33px;
    }
  }

  .inputsBlock {
    text-align: left;

    .input {
      margin-bottom: 24px;
      width: 100%;
      height: 30px;
      background-color: transparent;
    }

    .input:last-child {
      margin-bottom: 84px;
    }
  }

  .buttonsBlock {
    @include flex-row;

    margin-bottom: 60px;
    width: 100%;

    .buttonCancel {
      @include flex-column;
      @include buttonStyle;
    }

    .buttonRegister {
      @include flex-column;
      @include buttonStyle($width: 187px, $color: #fff, $bgColor: #2b418e);
    }
  }
}
