@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.input {
  margin-bottom: 16px;
  width: 100%;
}
