@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 40px);
}

.form {
  margin-bottom: 8px;
}

.input {
  margin-bottom: 16px;
  width: 100%;
}

.descr {
  margin-bottom: 48px;
  color: rgba(#2d2e46, 0.5);
}

.submit {
  display: block;
  margin: 0 auto;
}

.text {
  margin-bottom: 16px;
  text-align: center;
  color: rgba(#2d2e46, 0.5);
}

.link {
  display: block;
  text-align: center;
}

.wrapStep2 {
  text-align: center;
}

.img {
  margin: 0 auto 24px;
}

.check {
  margin-bottom: 24px;
}

.sent {
  color: rgba(#2d2e46, 0.5);
}
