@import "../../scss/variables";
@import "../../scss/mixins";

.thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.addItem {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.input {
  margin-right: 8px;
  width: 100%;
}

.pagination {
  position: sticky;
  bottom: 0;
  background-color: #fff;
}

.search {
  margin: 30px 0;
}

.addNewCard {
  margin-bottom: 15px;
}