@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.input {
  margin-bottom: 16px;
  width: 100%;
}

.descr {
  margin-bottom: 48px;
  color: rgba(#2d2e46, 0.5);
}

.submit {
  display: block;
  margin: 0 auto;
}
