@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 40px);
}

.wrap {
  display: flex;
  align-items: center;
  min-height: 50px;
}

.status {
  margin-right: 24px;
  padding-right: 24px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 24px;
}
